body{
    display: flex;
    justify-content: center;
    height: 100vh;
}
#container{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 300px;

}
#container input{
    height: 50px;
    background-color: rgb(42, 43, 40);
    border: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: white;
    text-align: right;
    border-radius: 4px;
}
#buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    background-color: black;
    padding: 10px;
    border-radius: 4px;
   
}
#buttons button{
    border: none;
    border-radius: 50%;
    height:50px;
    width: 50px;
    font-weight: bolder;
    transition: 0.25ms;
    
}
#buttons button:hover{
    background-color: hsla(180, 1%, 86%, 0.569);
}
.operator{
    background-color: rgb(255, 166, 0);
}
.operator:hover{
    background-color: rgb(167, 109, 0)!important;
}
.clear{
    background-color: rgb(48, 108, 206);
}
.clear:hover{
    background-color: rgb(0, 62, 163)!important;
}